//this should be fixed in the main.scss-file instead
header {
    position: relative;
}

//admin specific
.container {
    margin: 40px 30px;
    text-align: center;
}
.column.center {
    width: 40%;
    margin: 0px 5%
}
.column {
    float: left;
    width: 25%;
    background-color: red;    
}
input {
    width: 80%;
    padding: 0px 10px;
    height: 26px;
    margin-bottom: 6px;
}
h4 {
    span {
        font-size: 12px;
    }
}