@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

$color1: #FFF;
$color2: #000;
$color3: #043263;
$color4: #0A79F0;
$color5: #0752A3;
$color6: #0759B0;
$color7: #06458A;
$border: 5px solid $color6;
$padding1: 1em;
$padding2: 0.5em;
$padding3: 0.3em;
$padding4: 0.8em;





body {
    background-color: $color6;

    header,
    footer { //// obs är det samma över alla sidor? ändra?
        background-color: $color3;
        height: 60px;
        position: fixed;
    }
    
    //// =========    POPUP   ========= ////
    .popupBG {
        width: 100vw;
        height: 100%;
        z-index: 2;
        background-color: rgba(4, 50, 99, 0.9);
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .popupImg {
            max-height: 92%;
            max-width: 92%;
    
        }
        .bookDiv {
            width: 30em;
            height: 20em;
            background-color: $color7;
            border-radius: 20px;
            
            .confirm,
            form {
                width: 40%;
                margin: 20% auto;
                display: flex;
                flex-direction: column;
                
                p,
                input {
                    text-align: center;
                    padding: $padding3;
                    border-radius: 2px;
                    margin-bottom: $padding2;
                    border: none;
                }
            }
            button {
                width: 100%;
                -webkit-box-sizing: border-box; 
                    -moz-box-sizing: border-box;
                    -ms-box-sizing: border-box;
                        box-sizing: border-box;
                padding: $padding2 $padding1;
                margin-bottom: $padding2;
                color: $color1;
                font-size: 0.8em;
                border: none;
                border-radius: 5px;
                background-color: $color4;
                font-weight: 600;
                text-transform: uppercase;
            }
            button:hover {
                background-color: $color6;
            }

            button:active {
                outline: none;
                border: none;
                background-color: $color5;
            }
                
            button:focus {
                outline: 0;
            }
        }
    }

    
    .pseudo {
        height: 85px;
    }
    //* =========    MAIN   ========= *//
    main {
        background-color: $color7;
        border-radius: 20px;
        color: $color1;
        height: 75vh;
        width: 80vw;
        margin: 0 auto;
        // padding: 80px 0 100px 0;
        display: flex;
        flex-direction: row;
        -webkit-box-sizing: border-box; 
           -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
                box-sizing: border-box;

        //// =========    IMAGES   ========= ////
        #imgContainer {
            -webkit-box-sizing: border-box; 
           -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
                box-sizing: border-box;
            min-width: 40vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 1em;
            //// BIG ONE ////
            .eventImg {
                // height: 60vw;
                width: 100%;
                height: 80%;
                overflow: hidden;
                background-size: cover;
                background-position: center;
                border-radius: 2px;
                border-top-left-radius: 10px;
            }
            //// SMALL ONES ////
            .imgBar {
                width: 100%;
                padding-top: 1em;
                height: 17%;
                display: flex;
                overflow: hidden;
                flex-direction: row;
                overflow-x: scroll;
                border-radius: 2px;
                border-bottom-left-radius: 10px;
                .thumb {
                    height: 100%;
                    min-width: 10em;
                    overflow: hidden;
                    background-size: cover;
                    background-position: center;
                    border-radius: 2px;
                }
                .thumb + .thumb {
                    margin-left: 0.5em;
                }
            }
        }
        
        //// =========    EVENT INFO   ========= ////
        #infoSection {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 6fr 2fr;
            
            ////   TITLE & BASIC INFO  ////
            .infoTop {
                margin: 1em 1em 0 0;
                grid-row: 1 / 2;
                div {
                    border-top: $border;
                    border-bottom: $border;
                    display: flex;
                    justify-content: space-between;
                    h1 {
                        color: $color1;
                    }
                    p {
                        align-self: center;
                        padding: $padding3 $padding4;
                        background-color: $color4;
                        border-radius: 2px;
                        font-size: 0.8em;
                    }
                }
                .date {
                    margin-top: $padding1;
                    font-weight: 600;
                }
            }
            ////   INFO TEXT  ////
            .infoWrapper {
                margin-top: 1em;
                margin-right: 1em;
                grid-row: 2 / 3;
                display: grid;
                grid-template-columns: 1.1fr 1fr;
                grid-template-rows: 4fr 1fr 5fr;
                gap: $padding2;
                overflow: scroll;
                .info {
                    overflow: scroll;
                    padding-right: $padding1;
                    grid-row: 1 / 4;
                    
                    p {
                        font-size: 0.8em;
                        margin: 0;
                        padding-bottom: 1em;
                        text-align: justify;
                    }
                }

                .tickets {
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                    width: max-content;
                    margin: 0 auto;
                    padding-right: $padding1;

                    p.availStatus {
                        font-size: 1.2em;
                        font-weight: 600;
                        text-align: center;
                    }
                    button {
                        width: 10em;
                        justify-self: center;
                        -webkit-box-sizing: border-box; 
                            -moz-box-sizing: border-box;
                            -ms-box-sizing: border-box;
                                box-sizing: border-box;
                        padding: $padding2 $padding1;
                        color: $color1;
                        font-size: 0.8em;
                        border: none;
                        border-radius: 5px;
                        background-color: $color4;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                    button:hover {
                        background-color: $color6;
                    }
    
                    button:active {
                        outline: none;
                        border: none;
                        background-color: $color5;
                    }
                        
                    button:focus {
                        outline: 0;
                    }
                }
                .moreInfo {
                    // border-bottom: $border;
                    padding-right: $padding2;
                    padding-bottom: $padding1;
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                    font-size: 0.8em;
                    font-weight: 600;
                    // text-align: center;
                    
                    
                    .venue {
                        font-size: 1.2em;
                    }
                }

                .people {
                    font-size: 0.8em;
                    grid-column: 2 / 3;
                    grid-row: 3 / 4;
                    display: grid;
                    grid-template-columns: 1fr 2.5fr;
                    font-weight: 600;
                    
                    .guests {
                        grid-column: 1 / 2;
                    }
                    .staff {
                        grid-column: 2 / 3;
                    }
                    p + p {
                        font-weight: 400;
                    }

                }
            }
            //// =========    GUEST BOOK   ========= ////
            .gbSection {
                z-index: 1;
                margin: 0 $padding1 $padding1 0;
                grid-row: 3 / 4;
                min-height: 25vh;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 0.5fr 2.5fr 0.5fr;
                gap: $padding2;
                overflow: scroll;

                
                p.gbHeader {
                    border-top: $border;
                    border-bottom: $border;
                    grid-column: 1 / 3;
                    grid-row: 1 / 2;
                    font-size: 1.2em;
                    font-weight: 600;
                    padding: $padding3;
                    margin-top: $padding3;
                }
                .gbBackground {
                    background-color: $color3;
                    grid-column: 1 / 3;
                    grid-row: 2 / 5;
                }
                //// ALL MESSAGES ////
                .messages {
                    
                    grid-column: 1 / 2;
                    grid-row: 2 / 5;
                    background-color: $color6;
                    overflow: scroll;
                    -ms-overflow-style: none;
                    scrollbar-width: none;
                    display: grid;
                    grid-template-columns: 2fr 6fr;
                    grid-template-rows: auto;
                    border-radius: 4px;
                    p {
                        max-width: 100%;
                        font-size: 0.8em;
                        font-weight: 300;
                        margin: 0.5em;
                        border-radius: 5px;
                        color: $color1;
                        font-weight: 600;
                    }
                    
                }
                .messages::-webkit-scrollbar {
                    display: none;
                }
            }

            //// GUEST BOOK ENTRY ////
            input {
                border: none;
                text-indent: 0.5em;
                font-family: Rajdhani;
                padding: 0.2em 0;
                border-radius: 2px;
                grid-column: 2 / 3;
                grid-row: 2 / 3;
            }
            textarea {
                grid-column: 2 / 3;
                grid-row: 3 / 4;
                width: 100%;
                margin: 0;
                border: none;
                border-top: 0.1em solid $color7;
                resize: none;
                text-indent: 0.5em;
                font-family: Rajdhani;
                padding-top: 0.2em;
                border-radius: 2px;
                
            }
            button {
                grid-column: 2 / 3;
                grid-row: 4 / 5;
                -webkit-box-sizing: border-box; 
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                box-sizing: border-box;
                padding: $padding2 $padding1;
                color: $color1;
                font-size: 0.8em;
                border: none;
                background-color: $color4;
                border-radius: 2px;
                border-bottom-right-radius: 10px;
            }

            button:hover {
                background-color: $color6;
            }

            button:active {
                outline: none;
                border: none;
                background-color: $color5;
            }
                
            button:focus {
                outline: 0;
            }
        }
    }
    main + .pseudo {
        height: 100px;
    }
}

